<p>■□━━━━━━━━━━━━━━━━━━━━━━━━□■</p>
<p>管理画面のパスワードリセットのリクエストがありました。</p>
<p>■□━━━━━━━━━━━━━━━━━━━━━━━━□■</p>
<p><%= @user.landAccount_name %> 様</p>
<p>パスワードの再設定をご希望の場合は、以下URLをクリックし新しいパスワードをご登録ください。</p>
<p>※パスワードリセットの申請に心当たりがない場合は、以降の対応は不要となります。</p>
<p>▼パスワードの再設定URL</p>
<p><%= link_to 'パスワードをリセット', "http://localhost:3000/password-reset/#{@user.password_reset_token}" %></p>
<p>※URLの期限は24時間です。</p>
<p>※なお、このリンクはパスワードを再設定すると無効になりますので、パスワードを再設定する必要がある場合は、再度リセット手続きを行ってください。
</p>
<p>――――――――――――――――――――――――――――――――――――――――――――――――――――――</p>
<p>ストリーマーズランド・管理画面ログイン</p>
<p>http://localhost:3000/login</p>
<p>本メールに心当たりが無い場合は破棄をお願いいたします。</p>
<p>送信専用メールアドレスのため、直接の返信はできません。</p>
<p>――――――――――――――――――――――――――――――――――――――――――――――――――――――</p>
