<p>■□━━━━━━━━━━━━━━━━━━━━━━━━□■</p>
<p>パスワードのリセットが正常に完了しました。</p>
<p>■□━━━━━━━━━━━━━━━━━━━━━━━━□■</p>
<p><%= @user.landAccount_name %> 様</p>
<p>ご自身で設定した新しいパスワードでログインしてください。</p>
<p>今後も当サービスをよろしくお願いいたします。</p>

<p>――――――――――――――――――――――――――――――――――――――――――――――――――――――</p>
<p>ストリーマーズランド・管理画面ログイン</p>
<p>http://localhost:3000/login</p>
<p>本メールに心当たりが無い場合は破棄をお願いいたします。</p>
<p>送信専用メールアドレスのため、直接の返信はできません。</p>
<p>――――――――――――――――――――――――――――――――――――――――――――――――――――――</p>
