<!DOCTYPE html>
<html>
  <body>
    <h1>お問い合わせ内容の確認</h1>
    <p><strong>お問い合わせ種別:</strong> <%= @inquiry_type %></p>
    <p><strong>ユーザー名:</strong> <%= @user_name %></p>
    <p><strong>お問い合わせ内容:</strong></p>
    <p><%= @content %></p>
  </body>
</html>
